[Desktop Entry]
Type=Application
Name={{ cookiecutter.formal_name }}
Exec={{ cookiecutter.bundle }}.{{ cookiecutter.app_name }} %F
Icon={{ cookiecutter.app_name }}
Categories=Utility;
Comment={{ cookiecutter.description }}
{% if cookiecutter.uri_schemes | parse_list -%}
MimeType=x-scheme-handler/{{ cookiecutter.uri_schemes | parse_list | join(',x-scheme-handler/') }};
{% endif %}
